body
{
    margin: 0;
}

.headerBlock
{
    
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

nav
{
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed; /* floats the nav bar */
    border-bottom: 1px solid rgb(101, 101, 101);
}

.cov-logo
{
    width: 8%;
    margin: 10px;
}

nav a
{
    color: rgb(0, 122, 188);
    font-weight: bold;
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
    width: 100%;
}

nav a:hover
{
    color: rgb(140, 198, 63);
    text-decoration: underline;
}

.header
{
    padding: 100px;
    background-image: url("../images/mural1.jpg");
    background-size: cover;
}

.header-artist { 
    padding: 100px;
    background-image: url("../images/mural6.jpg");
    background-size: cover;
}