body {
    margin: 0;
}

.headerBlock {
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgb(101, 101, 101);
}

.cov-logo {
    width: 8%;
    margin: 10px;
}

nav a {
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 122, 188);
}

nav a:hover {
    color: rgb(140, 198, 63);
    text-decoration: underline;
}

.header,
.header-artist {
    padding: 100px;
    background-size: cover;
}

.header {
    background-image: url("../images/mural1.jpg");
}

.header-artist {
    background-image: url("../images/mural6.jpg");
}