<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="/css/successfulSubmission.css" />
</head>
<body>
    <h1>Your application is received successfully!</h1>
    <h1>Thank you for your submission.</h1>
    <div class="button-container">
        <button class="button" onclick="window.location.href='/';">Return to Home</button>
    </div>
</body>
</html>
