<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/userform.css" />
    <script defer src="/js/site.js"></script>
    <script defer src="/js/imageform.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="flexContainer">
        <form id="imageForm" action="/imageUpload" method="POST" enctype="multipart/form-data">
            <div id="images"></div>
            <label for="image">Select Image to upload (between 3 to 8):</label>
            <input type="file" name="image" id="image" accept="image/png, image/jpeg" multiple="multiple" min="3"
                max="8" onchange="onChange()" />
            <input type="text" hidden value="<%= artistId %>" name="artistId" id="artistId" />
            <br />
            <br />
            <input value="Submit" type="button" onclick="upload()" />
        </form>
    </div>
</body>

</html>