<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <script defer src="/js/site.js"></script>
    <link rel="stylesheet" href="/css/about.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header"></div>
    <div class="header">
      <div class="about-us-text">
        <p>
          <b>About City Of Vancouver Mural Roster:</b>
          <br />
          The City of Vancouver Mural Roster is a list of artists who have been pre-qualified to
          create murals on city property. The roster is used to streamline the artist selection
          process for public art projects.
          <br />
          The roster is open to artists who have demonstrated experience in creating murals and
          public art. Artists are selected through a review process. The roster is continuously
          updated.
          <br />
          The roster is used by the City of Vancouver and other organizations to select artists for
          mural projects. The roster is also used by property owners to find artists for private
          mural projects.
        </p>
        <p>
          <b>About Student Team</b>
          We are a group of students from British Columbia Institute of Technology CST Program who
          created this website for our Projects Course 4800 class. We are all interested in
          art and web development and wanted to create a website that would be helpful. We hope you
          enjoy our website!
        </p>
        <p>
          <b>About City of Vancouver Public Art Program:</b>
          The City of Vancouver Public Art Program commissions artists to create public art that
          reflects the city’s communities, cultures and history. The program also manages the
          acquisition and maintenance of the city’s public art collection.
          <br />
          <br />
          The Public Art Program is part of the City’s Cultural Services department. The program
          works with other City departments, community groups and private developers to integrate
          public art into the city’s public spaces.
        </p>
        <p>
          <b>About CityStudio Vancouver:</b>
          CityStudio is an innovation hub inside City Hall where staff, students and community
          co-create experimental projects to make Vancouver more sustainable, liveable and joyful.
          <br />
          CityStudio is a non-profit organization that started in Vancouver and has spread to 10
          cities across Canada and Europe. CityStudio Vancouver is a partnership between the City of
          Vancouver and the city’s six public post-secondary institutions.
        </p>
      </div>
    </div>
  </body>
</html>
