<!-- header.html injects site CSS, fonts, bootstrap, and nav bar when you use the following snippet: --> 
<!-- <script type="module" src="/js/site.js"></script> -->
<!-- Also add these two lines at the top within your body
<div id="header"></div>
<div class="header"></div>
 -->

 <html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/site.css" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
  
  <nav>
    <button class="hamburger">&#9776;</button>
    <a href="/">
      <img src="/images/cov-logo.png" class="cov-logo" alt="CoVArtistHomepage.ca" />
    </a>
    <div class="nav-links">
    <a class="close-button" style="display: none; color: red;">X</a>
      <a href="/">Search for Artists</a>
      <a href="/about">About Us Page</a>
      <a href="/userform">Application Form</a>
      <a href="/userProfile">User Profile Demo</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
  </html>
