<!DOCTYPE html>
  <head>
    <title>Filter Artists</title>
    <script type="module" src="/js/site.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script type="module" src="/js/index.js" defer></script>
  </head>
  <body>
    <div id="header"></div>
    <div class="header">
      <div id="filtersContainer">
        <fieldset class="headerBlock flex" id="cultural">
          <legend>Cultural</legend>
        </fieldset>
        <fieldset class="headerBlock flex" id="genre">
          <legend>Genre</legend>
        </fieldset>
        <fieldset class="headerBlock flex" id="medium">
          <legend>Medium</legend>
        </fieldset>
      </div>
    </div>
    <div id="artistsContainer"></div>
  </body>
</html>
