/* make the sides of the body blue and making the image extend to the full height */
.header {
    background-image: url("../images/mural2.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 10px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(0, 122, 188);
    height: 100%;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about-us-text {
    word-spacing: normal;
    font-size: 1.5em;
    width: 100%;

}

.about-us-text p {
    border-radius: 10px;
    padding: 10px;
}

h1, h2 {
    color: orange;
}

p {
    background-color: rgba(255, 255, 255, 0.6);
}
