#title {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
}

#subtitle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .artist-name{
    font-size: 5em;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: rgb(212, 143, 15);
    text-shadow: 0 5px 5px black;
}

#artistSocialMedia {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    font-size: 2em;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    /* blue */
    color: rgb(0, 130, 200);
}

#artistBio, #artistEmail, #artistPhone, #artistWeb, #artistCategoriesContainer {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: black;
}

#artistCategoriesContainer {
    text-align: center;
}

#artistCategoriesContainer h2 {
    font-size: 1.5em;
}

#artistBioContainer,
#artistInfoContainer {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 500px;
}

#artistImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

#artistImagesContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-width: 400px;
    border-radius: 5%;
    border: 5px solid rgb(0, 130, 200);
}

#imageDialogClose {
    width: 5%;
    background-color: white;
    border: none;
    border-radius: 25%;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    box-shadow: 0 0 5px black;
}

#imageBox {
    display: flex;
    flex-direction: column-reverse;
}

dialog[open] {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog[open] img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

#instagram img,
#facebook img {
    max-width: 64px;
}

button {
    background-color: white;
    border: none;
    border-radius: 25%;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    box-shadow: 0 0 5px black;
    user-select: none;
}

.topRightCornerButton
{
    position: fixed;
    top: 0;
    right: 0;
}

.header {
    background-image: url("../images/mural4.jpg");
    background-size: cover;
    background-color: rgb(0, 122, 188);
}
