#images
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black 2px solid;
    min-width: 700px;
    max-width: 1000px;
    min-height: 200px;
}

#images img
{
    width: 200px;
    height: 200px;
    object-fit:contain;
    border: black 2px solid;
    border-radius: 5px;
}



.singleImage
{
    position: relative;
    text-align: center;
    margin: 10px;
}

.imageButton
{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 12px;
    width: 10%;
    height: 10%;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: red;
}

#uploadForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 2px solid;
    padding: 10px;
    width: 75vw;
    aspect-ratio: 2/1;
}