#images
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black 2px solid;
    min-width: 700px;
    max-width: 1000px;
    min-height: 200px;
}

#images img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: black 2px solid;
    border-radius: 5px;
}

.singleImage
{
    display: absolute;
}

.imageButton
{
    top: 0;
    right: 0;
    width: 5%;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    box-shadow: 0 0 5px black;


}

#uploadForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 2px solid;
    padding: 10px;
    width: 75vw;
    aspect-ratio: 2/1;
}