body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00a7e1;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.button-container {
    text-align: center;
    margin: 20px;
}

.button {
    display: inline-block;
    background-color: #00a7e1;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #007cbf;
}
